* Edit this file to remove redundant lines
* Then, include this line in your do-file:
* require using Stata_requirements.txt, install

    bpencode, from("https://github.com/BPLIM/Tools/raw/master/ados/General/bpencode")
    coefplot, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/c")
    egenmore, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/e")
    estout, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/e")
    filelist, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/f")
    ftools, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/f")
    group2hdfe, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/g")
    gtools, from("https://raw.githubusercontent.com/mcaceresb/stata-gtools/master/build/")
    ivreg2, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/i")
    metaxl, from("https://github.com/BPLIM/Tools/raw/master/ados/General/metaxl/")
    outreg2, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/o")
    panelstat, from("https://github.com/BPLIM/Tools/raw/master/ados/General/panelstat/")
    ranktest, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/r")
    reghdfe, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/r")
    winsor, from("https://raw.githubusercontent.com/labordynamicsinstitute/ssc-mirror/2024-05-13/fmwww.bc.edu/repec/bocode/w")
